@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* 스크롤바 CSS */
div::-webkit-scrollbar {
  width: 6px;
  transition: width 0.3s ease;
  background: transparent;
}
div::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: background 0.3s ease;
}
div:hover::-webkit-scrollbar {
  width: 6px;
}
div:hover::-webkit-scrollbar-thumb {
  background: #474747;
}

input[type="checkBox"] {
  display: none;
}
input[type="checkBox"]:checked {
  display: block;
  accent-color: #3adf32;
}
